<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .People}}
    Name: {{.Name}}<br />
{{end}}
and {{.Doggy}}!<br />
<br />
Timestamp: {{.Now}}
</body>
</html>
